.loginhere:hover{
    color: black!important;
  }
  .loginhere{
    color: #309A98 !important;
  }
  p.logo_w3l_agile_caption {
          text-transform: uppercase;
          letter-spacing: 6.7px;
          font-size: 11px;
          color: rgb(210, 147, 144);
          text-shadow: 0px 1px 3px #454a47;
          font-family: 'Lato', sans-serif;
          font-weight: 600;
          
      }
  .nav-item:hover{
  background-color: gray;
  }
  @media (min-width: 1024px) {
    .modal{
      margin-top: 1%;
    }
    .container-login{
      width:50%;
      margin: 0% 25% 0 25%;
    }
    body{
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.83)), url("../images/aboutus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
  }
  }
  @media (min-width: 768px)  and (max-width: 1023px) {
    .modal{
      margin-top: 10%;
    }
    .container-login{
      width:96%;
      margin: 35% 2% 0 2%;
      
    }
    body{
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.83)), url("../images/aboutus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
  }
  }
  @media (max-width: 767px) {
    .modal{
      margin-top: 25%;
    }
    .container-login{
      width:96%;
      margin: 35% 2% 0 2%;
    }
    body{
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.83)), url("../images/aboutus.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
  }
  }